<div class="side-menu-overlay" id="sideMenuOverlay"></div>
<aside class="side-menu" id="sideMenu">
    <div class="side-menu-profile">
        <img id="sideMenuProfilePic" class="side-menu-profile-pic" src="" alt="Profile Picture">
        <div class="side-menu-profile-info">
            <div id="sideMenuName" class="side-menu-name">Your Name</div>
            <div id="sideMenuRegId" class="side-menu-regid">Reg ID</div>
            <div id="sideMenuCourse" class="side-menu-course">Course Info</div>
        </div>
    </div>
    <div class="side-menu-options">
        <div class="side-menu-search">
            <input type="text" placeholder="Search" id="sideMenuSearch">
            <img src="assets/search.png" alt="Search" class="side-menu-search-icon">
        </div>
        <ul class="side-menu-list">
            <li><span class="side-menu-icon" id="icon-thrive"></span>10 to Thrive</li>
            <li><span class="side-menu-icon" id="icon-alumni"></span>Alumni Mentor Selection</li>
            <li><span class="side-menu-icon" id="icon-assignment"></span>Assignment (CA)</li>
            <li><span class="side-menu-icon" id="icon-basics"></span>Back to Basics</li>
            <li><span class="side-menu-icon" id="icon-appointment"></span>Book Appointment</li>
            <li><span class="side-menu-icon" id="icon-campus"></span>Campus Tour</li>
            <li><span class="side-menu-icon" id="icon-exit"></span>Continue Exit Undertaking</li>
            <li><span class="side-menu-icon" id="icon-doctor"></span>Doctor Appointment</li>
            <li class="hostel-bed-config">
                <div class="hostel-bed-input-group">
                    <label>Hostel Bed:</label>
                    <input type="text" id="hostelBedInput" placeholder="A417-Bed A" maxlength="20">
                    <button id="saveHostelBed" class="save-hostel-btn">Save</button>
                </div>
            </li>
            <li class="mess-select-config">
                <div class="mess-select-group">
                    <label>Select Mess:</label>
                    <select id="sideMenuMessSelect">
                        <option value="Mess-Center-01">Mess-Center-01</option>
                        <option value="Mess-2 BH-1">Mess-2 BH-1</option>
                        <option value="Mess-1 BH-1">Mess-1 BH-1</option>
                    </select>
                    <button id="saveMessSelect" class="save-mess-btn">Save</button>
                </div>
            </li>
        </ul>
    </div>
    <button class="side-menu-logout" id="sideMenuLogout">
        LOGOUT <img src="assets/exit.png" alt="Logout" class="side-menu-logout-icon">
    </button>
</aside> 